.carousel1-text{
    border-radius: 15px;
    background-color: rgba(240, 255, 240, 0.603);
}
.carousel1-title{
    color:black;
    font-size: 2.5rem;
    font-weight: 700;
}
.carousel1-p{
    font-size: 1.2rem;
    color:lightslategray;
}

#sunnah{
    color: forestgreen;
}

.carousel2-text{
    background-color:rgba(240, 255, 240, 0.623);
    border-radius: 15px;
}
.carousel2-title{
    color:black;
    font-size: 2.5rem;
    font-weight: 700;
}
.carousel2-p{
    font-size: 1.2rem;
    color:forestgreen;
    font-weight: bold;

}

#quran{
    color: orangered;
}

.carousel3-text{
    background-color:rgba(0, 0, 0, 0.75);
    border-radius: 15px;
}
.carousel3-title{
    color:white;
    font-size: 2.5rem;
    font-weight: 700;
}
.carousel3-p{
    font-size: 1.2rem;
    color:rgba(172, 255, 47, 0.685);
}
#exam{
    color: orangered;
}