.carousel1-text{
    border-radius: 10px;
    background-color: rgba(240, 255, 240, 0.85);
}

.carousel1-p{
    color:lightslategray;
    font-size: 1.4rem;
}



.carousel2-text{
    background-color:rgba(54,43,41, 0.75);
    border-radius: 10px;
}

.carousel2-p{
    color:floralwhite;
    font-size: 1.4rem;
}


.carousel3-text{
    background-color:rgba(119, 136, 153, 0.95);
    border-radius: 10px;
}

.carousel3-p{
    color:rgba(250, 255, 47, 0.685);
    font-size: 1.4rem;
}

#exam{
    color: LightYellow;
}
/* For regular mobile device */
@media (max-width: 576px) {
    .carousel1-p{
    font-size: 1rem;
}
.carousel2-p{
    font-size: 1rem;
}
.carousel3-p{
    font-size: 1rem;
}

 }
 /* for extra small mobile device */
 @media (max-width: 325px) {
    .carousel1-p{
    font-size: 0.6rem;
}
.carousel2-p{
    font-size: 0.6rem;
}
.carousel3-p{
    font-size: 0.6rem;
}

 }