.instructor-card{
    background-color:ghostwhite;
    text-align: center;
    margin: 40px 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    transition-duration: 0.5s;
  transition-timing-function: ease-out;
}
.instructor-img{
    border-radius: 100%;
    padding: 15px;
    height: 50%;
}
.instructor-name{
    margin: 10px auto;
    color: rgba(0, 0, 0, 0.616);
    color: indigo
}
.instructor-post{
    color: gray;
}

.instructor-card:hover{
     box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

}
.instructor-card:hover h3{
    color: DarkMagenta;
    font-weight: bold;
}
.instructor-card:hover h5{
    color: black;
}