
.course{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    padding: 10px;
    border-radius: 5px;
}
.course:hover{
    box-shadow: rgba(85, 107, 47, 0.8) 0px 2px 4px, rgba(85, 107, 47, 0.6) 0px 7px 13px -3px, rgba(85, 107, 47, 0.5) 0px -3px 0px inset;
    background-color: rgba(85, 107, 47, 0.1);
}
.code{
    text-decoration: underline overline;
    color: grey;
}

.img img{
    width: 150px;
    height: 250px;
}
.text h3{
    font-weight: 600;
    color: darkslategray;
}
.text small{
    color: darkred;
}
.text p{
    font-weight: 500;
    line-height: 18px;
    color: gray;
}