.navigation-bar{
    background-color: whitesmoke;
}
.navbar-title{
   text-decoration: none;
    color: seagreen;
}
.navbar-title h2{

    font-weight: bold;
}
.navbar-title:hover{
    text-decoration: none;
    color:sienna;
}
.nav-items{
    text-decoration: none;
    border-radius: 10px;

}
.nav-items:hover{
    background-color: rgba(218, 165, 32, 0.685);
    color: white;
}