.footer{
    color: White;
    background-color: rgba(0, 0, 0, 0.55);
    text-align: center;
    padding: 20px;
}
.footer-icon{
    font-size: 50px;
    background-color: rgba(218, 165, 32, 0.63);
    margin: 0px 10px;
    padding: 15px;
    border-radius: 100%;
    transition-duration: 0.5s;
  transition-timing-function: ease-out;
}
.footer-icon:hover{
    background-color: rgba(255, 68, 0, 0.644);
}